<div class="container">
    <h6 class="pull-right"> Naomi, David, Mario, Dylan</h6>
</div>


        <div class="social-btn-container text-center">
            <span class="social-btn-box">
                <a href="#" class="facebook-btn">
                <i class="fa fa-facebook"></i></a>
            </span>

            <span class="social-btn-box">
                <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
            </span>

            <span class="social-btn-box">
                <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
            </span>

            <span class="social-btn-box">
                <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
            </span>


            <span class="social-btn-box">
                <a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
            </span>
        </div>


					