<div class="jumbotron text-center">
	<h1>StockUp<i class="fa fa-line-chart"></i></h1>
	
	<p>{{ message }}</p>
</div>

<div id="FAQ">
		<div class="row nopadding">
            <div class="col-md-10 col-md-offset-1 mt">
			    	<h2 class="">FAQ</h2>
			    </div>
			<div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1 mt">
                <center><i class="fa fa-line-chart fa-5x"></i></center>
				<h4>Don't Wait, Try Us Now</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
            
            <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1 mt">
                <center><i class="fa fa-money fa-5x"></i></center>
				<h4>Don't Wait, Try Us Now</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

			</div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1 mt">
                <center><i class="fa fa-magic fa-5x"></i></center>
				<h4>Don't Wait, Try Us Now</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				
			</div>
		</div><! --/row -->
	</div><! --/Jelly -->

